body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
}
.notes-header-container{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}
.notes-header h1{
    font-weight:lighter;
    margin: 0px;
}
.notes-header p{
    color: lightgray;
    margin-top: 0px;
}
.notes-button button{
    font-size: 20px;
    cursor: pointer;
    border: solid 1px white;
    background-color: black;
    color: white;
}
.notes-section{
    display: flex;
    z-index: 1;
    justify-content: center;
    flex-wrap: wrap;
}
.notes-section a{
    color: white;
    text-decoration: none;
}
.note-preview-container{
    width: fit-content;
    margin-right: 15px;
    margin-left: 15px;
}
.note-preview-container:hover .note-preview-subtitle .note-button{
    display: block;
    z-index: 5;
}
.note-preview{
    background-color: rgb(30, 30, 30);
    padding: 15px;
    border-radius: 5px;
    height: 125px;
    width: 100px;
    margin-bottom: 10px;
}
.note-preview p{
    margin: 0px;
    height: 125px;
    overflow-wrap:break-word;
    overflow-x: hidden;
    overflow-y:hidden;
}

.note-preview-subtitle{
    text-align: center;
    margin-bottom: 20px;
}
.note-title{
    text-align: center;
    overflow-wrap: break-word;
    width: 130px;
    max-height: 45px;
    overflow-y: hidden;
    margin: 0px;
    font-weight: bold;
}
.note-date{
    margin: 0px;
}
.note-button{
    display: none;
    transition: .5s;
    text-align: center;
}
.note-button button{
    background-color: black;
    border: none;
    cursor: pointer;
}
.note-button img{
    height: 40px;
    width: auto;
}
.note-creation-title{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 30px;
}
.note-creation-title form input{
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
}
.note-creation-title button{
    cursor: pointer;
    border: none;
    background-color: black;
}
.note-creation-title button img{
    height: 20px;
    width: auto;
}
.three-dot-icon{
    height: 100px;
    width: auto;
}
.note-creation-text-area{
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.note-creation-text-area button{
    display: block;
    cursor: pointer;
    width: 500px;
    height: 30px;
    background-color: black;
    color: white;
    border: solid 1px white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
.note-creation-text-area textarea{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}